<h3>servers works!</h3>
<p>
  put these line in terminal ...ng g c servers or ng generate component servers
</p>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p [innerText]="allowNewServer"></p>
<p>{{allowNewServer}}</p>
<p>{{serverCreationStatus}}</p>

<hr>
<p>one way binding</p>
<input type="text" class="form-control" (input)="updateServerName($event)">
<p [innerText]="serverName"></p>
<p>two way binding</p>
<input type="text" class="form-control" [(ngModel)]="serverName">
<p [innerText]="serverName"></p>
<hr>
