<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>The Server Component</p>
<p [ngStyle] = "{backgroundColor : getColor()}"> {{ 'Server' }} with ID {{ serverId }} is {{ serverStatus }} or by object {{ getServerStatus() }} </p>
<p
  [ngStyle] = "{backgroundColor : getColor()}"
  [ngClass] = "{online : serverStatus === 'online'}" >
  {{ 'Server' }} with ID {{ serverId }} is {{ serverStatus }} or by object {{ getServerStatus() }} </p>

<app-servers></app-servers>

<hr>
</body>
</html>
